#page-footer {
    background-color: #a993bf;
    padding: 20px;
    color: #fff;
}

.footer-logo {
    height: 60px;
}

.disclaimer {
    font-size: small;
}

.social-media:hover,
.social-media {
    margin-right: 10px;
    color: #fff;
}

.no-padding {
    padding: 0px 0px 0px 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.contato {
    color: rgba(255, 255, 255) !important;
}
